node_modules
dist
venv
.git
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
instance/
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.db
*.sqlite
.agent
.vscode
.github
.agents
*.bat
*.log
*.txt
